.side-tab a {
    padding: 13px 14px;
    display: block;
    color: white;
    font-weight: bold;
    font-family: auto;
    text-transform: capitalize;
}

.user_pic {
    position: relative;
}

.user_pic img {
    width: 88px;
    border-radius: 60px;
}

.user_pic .uploadprofile {
    position: absolute;
    right: -19px;
    bottom: 0;
    background-color: #0649ab;
    font-size: 15px;
    border-radius: 14px;
    color: white;
}

.list-add {
    height: 117px;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
}

.list-add span {
    display: block;
    cursor: pointer;
    border: 1px solid #e5dada;
    margin: 2px 0px;
    padding: 9px 5px;
    background-color: #b5b7b7;
}

/* The loading Class */
.loading {
    position: relative;
    background-color: #e2e2e2;
}

/* The moving element */
.loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
            right top, from(transparent),
            color-stop(rgba(255, 255, 255, 0.2)),
            to(transparent));

    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);

    /* Adding animation */
    animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.side-tab .active {
    background-color: rgb(13 110 253);
}

/* //change password  */
.pass_show {
    position: relative
}

.pass_show .ptxt {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    color: #f36c01;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.pass_show .ptxt:hover {
    color: #333333;
}
